@import url('fonts.css');

:root {
  --indigo: #001953;
  --yellow: #FFE000;
  --red: #990011;
  --darkgreen: #134F13;
}

html {
  background-color: black;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: large;
  color: white;
  stroke: white;
  margin: 0;
  min-width: 30em;
}
h2 {
  font-size: small;
}
svg {
  transition: stroke 2s linear, color 2s linear, fill 2s linear, opacity 0.5s linear, visibility 0s 0.5s;
}
.dark {
  color: black; stroke: black;
}
.dark text, .dark tspan { fill: black; }

.hide {
  visibility: hidden;
  opacity: 0;
}
:not(.hide) {
  visibility: visible;
  opacity: 1;
  transition: stroke 2s linear, color 2s linear, fill 2s linear, opacity 0.5s linear;
}

.flex {
  display: flex;
  flex-direction: column;
}
.sec {
  padding: 60vh 0 60vh 0;
}
.transition {
  height: 120vh;
}

.text {
  /*min-width: 20em;*/
  max-width: 40em;
  clear: right;
}
.text ~ .text {
  padding-top: 2em;
}

#blackhole .text ~ .text {
  padding-top: 6em;
}

#human .text ~ .text {
  padding-top: 1em;
}

.diag1 {
  text-align: left;
  width: 40em;
  max-width: 50%;
  margin-left: 40%;
}
.diag2 {
  float: right;
  text-align: right;
  width: 40em;
  max-width: 50%;
  margin-right: 5%;
}

.chatter ~ .diag2 {
  max-width: 20%;
  min-width: 10em;
}

.chatter {
  float: left;
  text-align: left;
  width: 20em;
  min-width: 10em;
  max-width: 20%;
  font-size: smaller;
  margin-left: 30%;
  margin-right: 5%;
}

.dim {
  border-bottom: 1px dotted;
  position: relative;
  display: inline-block;
}

.dim .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  width: 5em;
  bottom: 110%;
  margin-left: -2.5em;
  left: 50%;

  opacity: 0;
  transition: opacity 0.5s;
}

.dim:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#graph {
  position: fixed;
  width: 100%;
  height: 100%;
  stroke-width: 4;
  fill: none;
  pointer-events: none;
}

.tick line {
	stroke-width: 2;
}

svg text, svg tspan {
  stroke-width: 1;
  font-size: medium;
  display: inline;
  fill: white;
  text-anchor: middle;
  dominant-baseline: hanging;
}

#xlabel text, #xlabel tspan {
  dominant-baseline: auto;
}

#graph .super {
  font-size: x-small;
  vertical-align: super;
}

#chartarea {
  position: fixed;
  visibility: hidden;
  width: calc(100% - 8rem);
  height: calc(100% - 8rem);
  margin: 4rem;
  z-index: -2;
}

#poly {
  fill: black;
  z-index: -1;
}

#debug {
  background-color: black;
  position: fixed;
  border: 2px solid white;
  padding: 0.5em;
  bottom: 0;
  right: 0;
  width: max-content;
  font-size: small;
}

#title { background-color: black; margin-left: 20%; padding: 20vh 0 120vh 0; }
#intro {
  background-color: black;
}
#bang { background-image: linear-gradient(black, white); height: 30vh; }
#electroweak { background-image: linear-gradient(white 20%, var(--yellow)); color: black; padding-top: 100vh; }
#t2 { background-image: linear-gradient(var(--yellow), orange); }
#quark { background-color: orange; color: black; }
#t3 { background-image: linear-gradient(orange, var(--red), 85%, darkgreen); height: 240vh; }
#human { background-color: darkgreen; }
#t4 { background-image: linear-gradient(darkgreen, var(--indigo)); height: 240vh; }
#blackhole { background-color: var(--indigo); }
#heatdeath { background-image: linear-gradient(var(--indigo), black); height: 600vh; }
