@import url('fonts.css');

:root {
  --indigo: #3300FF;
}

html {
  background-color: black;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: large;
  color: white;
  margin: 0;
}
h2 {
  font-size: small;
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex > div {
  padding: 60vh 0 60vh 0;
}

.text {
  min-width: 20em;
  max-width: 40em;
  margin: auto 5% auto 10%;
}
.text ~ .text {
  margin-top: 2em;
}
.diag1 {
  float: left;
  text-align: left;
  width: 30em;
  max-width: 70%;
}
.diag2 {
  float: right;
  text-align: right;
  width: 30em;
  max-width: 70%
}

#graph {
  position: fixed;
  stroke: white;
  stroke-width: 6;
  fill: none;
  width: 95%;
  height: 90%;
  /* z-index: -1; */
}

#debug {
  position: fixed;
  border: 2px solid white;
  padding: 0.5em;
  bottom: 0;
  right: 0;
  width: max-content;
  font-size: small;
}

#title { background-color: black; }
#intro {
  background-color: black;
}
#t1 { background-image: linear-gradient(black, white); padding: 15vh 0% 15vh 0%; }
#first { background-color: red; }
#t2 { background-image: linear-gradient(red, orange, yellow); }
#second { background-color: yellow; }
#t3 { background-image: linear-gradient(yellow, darkgreen); }
#third { background-color: darkgreen; }
#t4 { background-image: linear-gradient(darkgreen, var(--indigo), black); padding: 120vh 0% 120vh 0%; }
